<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Home</title>
  </head>
  <body>
    <%-include("../partials/header.ejs")%>

    <h1>Hello, <%= name%>!</h1>
    <% let dogAge = age*7 %>
    <h2>You are <%= dogAge %> in dog years!</h2>
    <% let status %> <% if (dogAge<100) { %> <% status = 'young' %> <% } else {
    %> <% status = 'old' %> <% } %>
    <h3>This means you are <%= status %></h3>
    <%-include("../partials/footer.ejs")%>
  </body>
</html>
